# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Build artifacts
dist/
build/
*.egg-info/

# Project outputs
logs/
trained_models/
*.pth
*.pt
*.pkl
